<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

<div style="text-align: right;padding: 10px">
  <button mat-fab style="background-color: green;" (click)="addUser()">
      <mat-icon style="color: #FFF;">add</mat-icon>
  </button>
</div>

<mat-table [dataSource]="users" class="mat-elevation-z8">

  <!-- Index Column -->
  <!-- <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef> Sr No. </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
  </ng-container> -->

  <!-- Picture Column -->
  <ng-container matColumnDef="picture">
    <mat-header-cell *matHeaderCellDef> Picture </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img src="{{element.picture}}" class="custom" />
    </mat-cell>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input matInput placeholder="Name" [value]="element.name.first" class="custom-input" [(ngModel)]="element.name.first">
    </mat-cell>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input matInput placeholder="Name" [value]="element.name.last" class="custom-input" [(ngModel)]="element.name.last">
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button class="custom-button submit" (click)="updateUser(element)">
        <mat-icon style="color: green;">check</mat-icon>
      </button>
      <button class="custom-button delete">
        <mat-icon style="color: red;" (click)="deleteUser(element.id)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>